.card-header {
    text-align: center;
    text-transform: capitalize  ;
}

.card {
  
    border-radius: 20px;

}
.card {
    text-transform: capitalize;
}
.item {
    cursor: pointer;
    margin-top: 10%;
    border:1px solid #0d6efd;
    height: fit-content;
    width: 200px;
    box-shadow: 0px 0px 5px 1px #0d6efd;
    border-radius: 20px;
}


.card-footer {
    text-align: center;
}


nav  {
    height: 60px



}

nav > #aside-show {
    display: none;
}

nav a {
    padding: 20px;
        

}

nav h1 {
    color: #0d6efd;
}



.dropdown {
    position: relative;

}

.dropdown-menu {
    position: absolute;
    left: 0%;
    top: 100%;
    overflow: hidden;
    display: block;
    visibility: hidden;

}

.dropdown-menu li a {
    animation-name: dropdown-item ;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-delay: .5s;

  
    
 
}






.dropdown-toggle {
    cursor: pointer;
}

@keyframes dropdown-show {
    from {
        height: 0px;
        display: none;

    }
    to {
        height: 240px;
        display: block;

    }
    
}

@keyframes dropdown-hide {
    from {
        height: 240px;
        visibility: visible;

    }
    to {
        height: 0px;
        visibility: hidden;

    }
    
}



aside {
    visibility: hidden;
    width: fit-content;
    position:fixed;
    
   

}

@keyframes aside-show {
    from {
        visibility: hidden;
        transform: translateX(-100%);

    }

    to {
        visibility: visible;
        transform: translateX(0%);

    }
    
}

@keyframes aside-hide {
    from {
        visibility: visible;
        transform: translateX(0%);
        

    }

    to {
        visibility: hidden;
        transform: translateX(-100%);
        
    }
    
}

@media screen and (max-width:600px) {
    nav>a {
        display: none;
    }
    
    nav > h1 {
        display: none;
    }
    
    nav > ul {
        display: none;
    
    }
    nav > #aside-show {
        display: block;
        padding: 5px;
        cursor: pointer;
    }
    
  
    aside {
        z-index: 1;
        position: fixed;
        
    }
    
    .card {
        z-index: -1;
    }
    .container {
        margin-left: 20%;
    }
    
    
    
    

    
}
    
    
    

@media screen and (min-width:600px) {
aside {
    display: none;
}

}

