body {
    background-image: url('https://gm-cpas.com/images/articles/charity-donations.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    
}

nav > h1 {
    text-transform: capitalize;
    color: white;
    margin-left: 600px;
    text-align: center;
    animation:online-donation 2s linear both;
    
}

@keyframes online-donation {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.5) ;
    

    }

    100% {
        transform: scale(1);

    }
    
}


.parent {
    width: 50%;
    margin: 50px auto;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 20px white;
    border-radius: 10px;
    padding: 20px;
    height:400px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    position: relative;
    

}
.child-1 {
    width: calc(100%/2);

}



.child-1 > p {
    font-size: 20px;
    color: #0d6efd;
    text-align: center;
    animation: paragraph  .5s linear both;
    /* opacity: 0; */

    
}

.child-1 > p[id='par-2'] {
    animation-delay: 1s;
}

.child-1 > p[id='par-3'] {
    animation-delay: 1.5s;
}

@keyframes paragraph {
    from {
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
    
}

form > h1 {
    text-align: center;
}

form {
    margin-top: 20px;
    margin: 10px;

}
form input {
    margin: 10px;
    border-radius: 45px;
    
}
.parent button {
    margin: 40px 70px auto;
    position: relative;
    background-color: transparent;
    outline: none;
    border: none;
    z-index: 1;
    color: white;
    width: 70px;
    transform: scale(1.1);
   
   
    
   
}

button::before {
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
    height: 30px;
    border-radius: 10px;
    transition: .2s;
    background-color: red;

}

button:hover::before {
    transform: scaleY(-1);
    background-color: blue;
   
}

ul {
    list-style: none;
    color:red;
   
}



form {
    
    width: 200px;

}

input[type='email'],
input[type='password'] {    
    border-radius: 15px;
}


.sign-in {
    position: absolute;
    bottom: 0%;

   

}



span > a {
    text-decoration: none;

}

.child-1 >p::selection {
    background-color: transparent;
}

form> label::selection ,
form > h1::selection {
    background-color: transparent;
}

.parent > span::selection {
    background-color: transparent;

}

.password {
    /* position: absolute;
    top: 63%;
    left: 10%; */
}

footer {
    background-color:rgba(26, 26, 26,0.8)   ;
    display: flex;
    padding: 20px;
    color: white;
    justify-content: space-between;

    position: relative;

}

footer > .follow-us > h1 {
    text-transform:capitalize;
    padding-left: 20px;
    /* color: red; */
}


.follow-us > a {
    font-size: 20px;
    margin: 20px;
    
}

.follow-us > i {
    /* font-size: 20px; */
    margin-top: 50px;
    
}
 

footer > #copyright {
    position: absolute;
    left: 40%;
    bottom: 0%;
    font-size: 20px;

}

a> #facebook  {
    color: blue;
}

a > #instagram {

    color: #dc2743;
}

a *> span {
    color: white;
}

footer > .About-us {
    width: 200px;
}

footer > .contact-us > h1 {
    text-transform: capitalize;
}


footer > .contact-us > a {
    color: white;
    font-size: 20px;
    margin-top: 40px;
    
}

footer >div i {
    transition: 1s;
    margin-top: 20px;
}

footer >div i:hover {
    transform: translateY(-10px);
    /* color: white; */

    

}


@media screen and (max-width:1000px) {
    .parent {
        display: flex;
        flex-direction: column-reverse;
        width: fit-content;
        /* justify-content: space-around; */

    }
    body {
        background-image: url('https://gm-cpas.com/images/articles/charity-donations.jpg');
        background-size: cover
    }
    .child-1 {
        display: none;
    }

    nav h1 {
        margin-left: 100px;
    }

    footer {
        /* background: red; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    footer > div  {
        margin: 20px;
        text-align: center;
    }

    footer> .About-us {
        width: fit-content;
    }

    footer > #copyright {
        margin-top:40px;
        left: 67%;

    }

    
    
}

@media screen and(max-width:600px) {

  
}