table {
    padding: 10% ;
    width: 50%;
}

body {
    
}

.brown-star {
    color: brown;
}

.silver-star {
    color: silver;
}

.gold-star {
    color: gold;
}


@keyframes dropdown-show {
    from {
        height: 0px;
        display: none;

    }
    to {
        height: 250px;
        display: block;

    }
    
}

@keyframes dropdown-hide {
    from {
        height: 250px;
        visibility: visible;

    }
    to {
        height: 0px;
        visibility: hidden;

    }
    
}