body {
    overflow-x:hidden;
}


.container > h1 {
    text-align: center;
    text-transform: capitalize;

}
nav {
    width: 100%;
}

.star button {
    outline: none;
    border: none;
    background-color: white;
    
}

@keyframes dropdown-show {
    from {
        height: 0px;
        display: none;

    }
    to {
        height: 400px;
        display: block;

    }
    
}

@keyframes dropdown-hide {
    from {
        height: 400px;
        visibility: visible;

    }
    to {
        height: 0px;
        visibility: hidden;

    }
    
}



nav i {
    cursor: pointer;
    padding: 5px;
}
.fa-star {
    color: red;
    color:gold
}

.profile {
  
    background-image: url('https://images.pexels.com/photos/3184424/pexels-photo-3184424.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940&fbclid=IwAR2eCRmk5xbIm5QEDZ17txIqdnIk9PJxpkliOZz10nC5ihcvXo4f_9ITBik');
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 120%;
    width: 100%;
    height:400px;


}

aside {
   
    visibility: hidden;
    z-index: 2;
}

@keyframes nav-side {
    from{ 
        transform: translateX(-100%);
        



    }
    to {
        transform: translateX(0%);
        visibility: visible;

    }
    
}

@keyframes nav-side-hide {
    from{ 
        transform: translateX(0%);
        visibility: visible;






    }
    to {
        transform: translateX(-100%);
        
        visibility: hidden;

    }
    
}

.profile>.profile-image {
    background-color: white;
    position: absolute;
    top: 70%;
    left: 20%;
    box-shadow: 0px 0px 18px 5px gray;
    transform: translate(-50%,0%);
    width: 250px;
    height: 250px;
    border-radius: 50%;

    z-index: 1;

}
.profile-image > img {
    padding: 10px;
    width: 250px;
    height: 250px;
}

.profile>.profile-info{
    position: absolute;
    bottom: -30%;
    left: 45%;
    transform: translate(-50%,-50%);
}

.profile-info h1 {
    color:black ;
    text-transform: capitalize;
}

.profile-image img {
    border-radius: 50%; 
    
  


}








.user-post {
    color: white;
    position: absolute;
    top: 140%;
    left: 50%;
    z-index: 1;
    background-color: #0d6efd;
    transform: translate(-50%,-90%);
    padding: 30px;
    width: fit-content;
    border-radius: 15px;
    visibility: hidden;
}





.add {
    border: 1px solid blue;
    width: 200px;
    height: 300px;
    position: relative;
    cursor: pointer;
    transition: .5s;
    margin-top: 200px;
}

.add > i {
    color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.add > span {
    color: blue;
    position: absolute;
    font-size: 25px;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-70%);

}

.add:hover {
    transform: translateY(-20px);


}

.user-post > form {
    display: inline-block;

}

.user-post > .post {
    display: none;
}

form>ul {
    list-style: none;
    color: red;
}

.post-product {
    display: none;
}

@media screen and (max-width:600px) {
    .post-product {
        display: block;
        background-color: #EEE;
        border-radius: 10px;
        padding: 10px;
        margin-top:180px;
        margin-left: 40px;
        width: fit-content;
    }
    .profile {
        position: relative;
        
    }
   
    .profile-image > img {
     
        width: 200px;
        height: 200px;
    }

    .profile > .profile-image {
        position:absolute;
        bottom: 0%;
        left: 50%;
        width: 200px;
        height: 200px;
    }

    .profile > .profile-info {
        position: absolute;
        bottom: -55%;
        text-align: center;
        padding-left: 30px;
        /* left: 20%; */
    }
    .add {
        display:  none;
    }


    .user-post {
        display: none;
     
    }
   
/* 
    .container {
        margin-top: 200px;
    } */
    .container {
        margin-left: -1%;
    }

    hr {
        display: none;
    }
 

   
   


    @keyframes nav-side {
        from{ 
            height: 0px;
            
    
    
    
        }
        to {
            height:400px;
            visibility: visible;
    
        }
        
    }

    @keyframes nav-side-hide {
        from{ 
            height: 400px;
            visibility: visible;
                
    
        }
        to {
            height: 0px;
            visibility: hidden;
    
        }
        
    }
}



.text-primary {
    text-align: center;
   
}






