{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/styles/home_page.css' %}">
    <link rel="stylesheet" href="{% static 'app/styles/edit_profile.css' %}">
    <title>Online donation</title>
</head>
<body>
    
     
    <nav class="navbar bg-light sticky-top">
        {% if user.is_authenticated %}
        <i id='aside-show'  class="fas fa-bars fa-2x"></i>
        <a href="{% url 'home' %}" class="navbar-brand">
            Home
        </a>
        <h1 class="navbar-brand">
            Online Donation
        </h1>
      
        <ul class="dropdown navbar-brand">
            <button style="border:none;" class="btn btn-light dropdown-toggle nav-link" id='dropdown-display'>
                More
            </button>
          
            <div class="dropdown-menu" id="dropdown-menu">
                <li>
                    <a class="nav-link dropdown-item" href="{% url 'profile' %}">
                    <i class="fas fa-user"></i>

                        Profile
                    </a>
                    
                </li>
              
                {% if user.is_admin %}
                <li>
                    <a class="nav-link dropdown-item" href="{% url 'admin-list' %}">
                    <i class="fas fa-users"></i>

                        Posts
                    </a>
                </li>
                <li>
                    <a class="nav-link dropdown-item" href="{% url 'block-users' %}">
                        <i class="fas fa-user-lock"></i>
                        Block list
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'users' %}" class="nav-link dropdown-item ">
                        <i class="fas fa-users"></i>
                        Users
                    </a>
                </li>
              
               
                <li>
                    <a class="nav-link dropdown-item" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt"></i>

                        Logout
                    </a>
                </li>
              
            

            </div>

          
        </ul>
        {% else %}
        <a href="{% url 'login' %}" class="nav-link">
            <i class="fas fa-sign-in-alt"></i>
            login

        </a>
        {% endif %}


    </nav>
    

    <aside id='aside' >
        <ul class="list-group">
           
            <li>
                <a href="{% url 'home' %}" class="list-group-item list-group-item-action text-primary">
            <i class="fas fa-home " ></i>
            Home


            
                </a>

               
            </li>
            <li>
                <a class="list-group-item list-group-item-action text-primary" href="{% url 'profile' %}">
                <i class="fas fa-user"></i>

                    Profile
                </a>
                
            </li>
          
            {% if user.is_admin %}
            <li>
                <a class="list-group-item list-group-item-action text-primary" href="{% url 'admin-list' %}">
                <i class="fas fa-users"></i>

                    Posts
                </a>
            </li>
            <li>
                <a class="list-group-item list-group-item-action text-primary" href="{% url 'block-users' %}">
                    <i class="fas fa-user-lock"></i>
                    Block list
                </a>
            </li>
            {% endif %}
           
            <li>
                <a  class="list-group-item list-group-item-action text-primary" 
                href="{% url 'logout' %}">
                <i class="fas fa-sign-out-alt"></i>

                    Logout
                </a>
            </li>
            

           
        </ul>
    </aside>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}

    </div>
    {% endfor %}
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h1 id='main'>Main Info</h1>

                <div class="user-info">
                    <img src="{{ user.profileimage.image.url }}" alt="" width="200px" height="200px" class="rounded-circle">
                    <br>
                    <i class="fas fa-user">
                        <span>
                            {{ user.username }}

                        </span>
                


                    </i>

                    <br>
                    <i class="fas fa-envelope">
                     
                        <span>
                            {{ user.email}}
                        </span>

                        
                    </i>
                    <br>
                    <i class="fas fa-phone">
                        <span>
                            {{ user.phone_number }}
                        </span>
                     
                    </i>

                    <div class="address">
                        <i class="fas fa-map-marker-alt ">
                            {{ user.city}}, {{ user.address }}, {{ user.st_name }}
                        </i>

                    </div>

                </div>
          
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                   
    <form class="form-group" method="POST" enctype="multipart/form-data">
        <h1>profile settings</h1>

        {% csrf_token %}
        {{ user_update.as_p }}
        {{ profileimage_update }}
        <button class="btn btn-primary">
            Update
        </button>
    
       
       
    </form>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="user-location">
                    <h1>location</h1>
                    <i class="fas fa-map-marker-alt ">
                        {{ user.city}}, {{ user.address }}, {{ user.st_name }}
                    </i>

                </div>
            </div>
            
        </div>
    </div>


 

    <script src="{% static 'app/script/home_page.js' %}"></script>

    
</body>
</html>