{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/styles/home_page.css' %}">
    <title>Document</title>
</head>
<body>
    
    <nav class="navbar bg-light sticky-top">
        {% if user.is_authenticated %}
        <i id='aside-show'  class="fas fa-bars fa-2x"></i>
        <a href="{% url 'home' %}" class="navbar-brand">
            Home
        </a>
        <h1 class="navbar-brand">
            Online Donation
        </h1>
      
        <ul class="dropdown navbar-brand">
            <button style="border:none;" class="btn btn-light dropdown-toggle nav-link" id='dropdown-display'>
                More
            </button>
          
            <div class="dropdown-menu" id="dropdown-menu">
                <li>
                    <a class="nav-link dropdown-item" href="{% url 'profile' %}">
                    <i class="fas fa-user"></i>

                        Profile
                    </a>
                    
                </li>
              
                {% if user.is_admin %}
                <li>
                    <a class="nav-link dropdown-item" href="{% url 'admin-list' %}">
                    <i class="fas fa-users"></i>

                        Posts
                    </a>
                </li>
                <li>
                    <a class="nav-link dropdown-item" href="{% url 'block-users' %}">
                        <i class="fas fa-user-lock"></i>
                        Block list
                    </a>
                </li>
                {% endif %}
               
                <li>
                    <a class="nav-link dropdown-item" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt"></i>

                        Logout
                    </a>
                </li>
                <div class="dropdown-divider"></div>
                <span class="nav-item dropdown-item" style="text-align: center;">sort by:</span>
                <li>
                    <a class="nav-link dropdown-item" href="{% url 'category' 'sports' %}">
                        <i class="fas fa-running"></i>
                    sports


                      
                    </a>
                    
                </li>
                <li>
                    <a href="{% url 'category' 'car parts' %}" class="nav-link dropdown-item">
                        <i class="fas fa-car"></i>
                        car parts
                    </a>
                </li>
                <li>
                    <a href="{% url 'category' 'elctronics' %}" class="nav-link dropdown-item">
                        <i class="fas fa-tablet-alt"></i>
                        electroncs
                    </a>
                </li>
                <li>
                    <a href="{% url 'category' 'clothes' %}" class="nav-link dropdown-item">
                        <i class="fas fa-tshirt"></i>
                        clothes
                    </a>
                </li>


            </div>

          
        </ul>
        {% else %}
        <a href="{% url 'login' %}" class="nav-link">
            <i class="fas fa-sign-in-alt"></i>
            login

        </a>
        {% endif %}


    </nav>

    <aside id='aside' >
        <ul class="list-group">
           
            <li>
                <a href="{% url 'home' %}" class="list-group-item list-group-item-action text-primary">
            <i class="fas fa-home " ></i>
            Home


            
                </a>

               
            </li>
            <li>
                <a class="list-group-item list-group-item-action text-primary" href="{% url 'profile' %}">
                <i class="fas fa-user"></i>

                    Profile
                </a>
                
            </li>
          
            {% if user.is_admin %}
            <li>
                <a class="list-group-item list-group-item-action text-primary" href="{% url 'admin-list' %}">
                <i class="fas fa-users"></i>

                    Posts
                </a>
            </li>
            <li>
                <a class="list-group-item list-group-item-action text-primary" href="{% url 'block-users' %}">
                    <i class="fas fa-user-lock"></i>
                    Block list
                </a>
            </li>
            {% endif %}
            <li>
                <a  class="list-group-item list-group-item-action text-primary" 
                href="{% url 'logout' %}">
                <i class="fas fa-sign-out-alt"></i>

                    Logout
                </a>
            </li>
            <!-- <div class="dropdown-divider"></div> -->
            <span class="list-group-item" style="text-align: center;">sort by:</span>
            <li>
                <a class="list-group-item list-group-item-action text-primary" 
                href="{% url 'category' 'sports' %}">
                    <i class="fas fa-running"></i>
                sports


                  
                </a>
                
            </li>
            <li>
                <a href="{% url 'category' 'car parts' %}" 
                class="list-group-item list-group-item-action text-primary">
                    <i class="fas fa-car"></i>
                    car parts
                </a>
            </li>
            <li>
                <a href="{% url 'category' 'elctronics' %}"  
                class="list-group-item list-group-item-action text-primary">
                    <i class="fas fa-tablet-alt"></i>
                    electroncs
                </a>
            </li>
            <li>
                <a href="{% url 'category' 'clothes' %}" 
                class="list-group-item list-group-item-action text-primary">
                    <i class="fas fa-tshirt"></i>
                    clothes
                </a
            </li>


           
        </ul>
    </aside>
    {% if user.is_authenticated %}
    <div class="conatainer">
        <div class="row">
            {% for product in products %}
            {% if product.is_accepted %}
            
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="card"  style="">
                    <img src="{{ product.product_image.url }}" alt="" class="card-img-top">
                    <div class="card-body">
                        <h2 class="card-title">
                            {{ product.product }}
                        </h2>
                        <span class="text-muted">
                            category :{{ product.category}}

                        </span>
                        <br>
                        <span class="text-muted">
                            posted by: {{ product.user.username}}
                        </span>
                        
                            <a 
                            href="{% url 'item-detail' product.id %}" 
                            class="btn btn-success card-link">
                                More info
                            </a>
                          
                        
                    </div>
                    <div class="card-footer text-muted">
                        <span>
                        posted in: {{ product.post_date }}


                        </span>
                        
                    </div>
                   
                </div>
            </div>


            {% endif  %}
        
            {% endfor %}
            
        </div>
    </div>
    {% endif %}
    <footer>
        <div class="About-us">
            <h1>About us</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum modi dolor, saepe sequi nostrum suscipit expedita optio tenetur corrupti quam inventore reprehenderit hic debitis, voluptate quis, nam aspernatur officia ea.
            </p>

        </div>
        <div class="follow-us">
            <h1>Follow us</h1>
            <a href="">
                <i class="fab fa-facebook-f " id='facebook' >
                    <span>
                        Follow us on facebook


                    </span>

                </i>


            </a>
           
            <br>
            <a href="">
              
                <i class="fab fa-linkedin-in " id='linkedin'>
                    <span>
                    Follow us on linkedin


                    </span>
                </i>

              
            </a>
            <br>
           
            
            <a href="">
                <i class="fab fa-twitter">
                    <span>
                    Follow us on tiwitter


                    </span>

                </i>
            </a>
            <br>
            <a href="">
                <i class="fab fa-instagram" id='instagram'>
                    <span>
                        follow us on instagram
                    </span>
                </i>
          
            <!-- <i class="fab fa-instagram-square"></i> -->


            </a>

        </div>
        <div class="contact-us">
            <h1>contact us</h1>
            <a href="tel:+9620778158732">
                <i class="fas fa-phone-alt ">
                    call us on 
                </i>

            </a>
            
         
            <br>
            <a href="mailto:{{ user.email }}">
                <i class="fas fa-envelope ">
                    message us
                </i>

            </a>
        
           
            <br>
            <i class="fas fa-map-marker-alt ">
                Amman , Jordan
            </i>

        </div>
        <i class="far fa-copyright" id='copyright'>
            All right are reserved 2020/2021
            Ayham zataimeh
        </i>

    </footer>
   
    

    <script src="{% static 'app/script/home_page.js'%}"></script>
   
    
</body>
</html>