{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/styles/user_profile.css' %}">
    <title>Profile</title>
</head>
<body>
    <nav class="navbar navbar bg-light sticky-top">
        <a href="{% url 'home' %}" class="navbar-brand">
            Home
        </a>
        <i id='side-show'
        class="fas fa-bars fa-2x"></i>


      
       
    </nav>
    <form action="/user/star/" class="star" >
        <button value="user.id" name="user_id">
            <i class="fas fa-star fa-2x" name='user_id' ></i>


        </button>


    </form>
    <aside class="bg-light" id='a-side' >
        <p>
            Name: {{user.username}}
        </p>
        <p>
            Email: {{ user.email }}
        </p>

        <p>
            Phone Number: {{ user.phone_number}}
        </p>
            <hr>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ update_user.as_p }}
            {{ update_image }}
            <button class="btn btn-primary">
                Submit
            </button>
            </form>
    </aside>
   
    <div class="profile">
        <div class="profile-image">
        <img src="{{user.profileimage.image.url}}" alt="">


        </div>
        <div class="profile-username">
        <h1>{{ user.username }}</h1>


        </div>

    </div>
    <div class="user-post" id="post">
        
    <form action="" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}

        <div class="form-group">
            {{ post.as_p }}

        </div>
        <button class="btn btn-light">
            Post
        </button>
    </form>

    <button class="btn btn-light" type="button" id='cancel'>
        Cancel
    </button>

     

    </div>
   


   
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    
    </div>
    {% endfor %}
    {% endif %}
            
            


    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="add" id="add">
                    <i class="fas fa-plus fa-3x"></i>
                    <span>
                        Add
                    </span>


                </div>
            </div>
        </div>
        <hr>
        <h1>your posts</h1>


    
    <div class="row">
        {% for post in posts %}
        {% if post.is_pending %}
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card">
                <h1 class="card-body">
                    Wating for admin response 
                </h1>
            </div>

        </div>
       
        {% elif post.is_accepted %}
        <div class="col-xs-12 col-sm-6 col-md-4">

            <div class="card" style="width: 200px; height: 300px;">
                <img src="{{post.product_image.url}}" class="card-img-top" alt="" height="300px">
                <hr>
                <div class="card-body">
                    <h1 class="card-title">
                        {{ post.product }}
                    </h1>
                    <span class="text-muted">
                       posted in: {{ post.post_date|date:"d ,M"}}
                    </span>
                    {% if post.is_booked %}
                    <h2>Booked</h2>
                    <form method="POST" action="/user/unbook/item">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ post.id }}">

                        <button class="btn btn-danger" type="submit">
                            UnBooked

                        </button>

                    </form>
                  

                    {% endif %}
                 
                </div>
            </div>
    
            </div>
    


        {% endif %}
       

              
    
        {% endfor %}
    
       

    </div>
    </div>


    
   

   
    <script src="{% static 'app/script/user_profile.js' %}"></script>
    
</body>
</html>